@keyframes lds-blocks {
  0% {
    background: #5cb85c;
  }
  12.5% {
    background: #5cb85c;
  }
  12.625% {
    background: #337ab7;
  }
  100% {
    background: #337ab7;
  }
}
@-webkit-keyframes lds-blocks {
  0% {
    background: #5cb85c;
  }
  12.5% {
    background: #5cb85c;
  }
  12.625% {
    background: #337ab7;
  }
  100% {
    background: #337ab7;
  }
}
.lds-blocks {
  position: relative;
}
.lds-blocks div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #337ab7;
  -webkit-animation: lds-blocks 0.9s linear infinite;
  animation: lds-blocks 0.9s linear infinite;
}
.lds-blocks {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
